[submodule "webroot/extjs"]
	path = webroot/extjs
	url = git://github.com/probonogeek/extjs.git
[submodule "plugins/commentable"]
	path = plugins/commentable
	url = git://github.com/josegonzalez/cakephp-commentable-behavior.git
[submodule "vendors/h2o"]
	path = vendors/h2o
	url = git://github.com/speedmax/h2o-php.git
