[submodule "webroot/extjs"]
	path = webroot/extjs
	url = git://github.com/probonogeek/extjs.git
[submodule "plugins/commentable"]
	path = plugins/commentable
	url = git://github.com/josegonzalez/cakephp-commentable-behavior.git
[submodule "webroot/css/admin/web-app-theme"]
	path = webroot/css/admin/web-app-theme
	url = git://github.com/pilu/web-app-theme.git
