[submodule "webroot/extjs"]
	path = webroot/extjs
	url = git://github.com/probonogeek/extjs.git
[submodule "vendors/h2o"]
	path = vendors/h2o
	url = git://github.com/speedmax/h2o-php.git
[submodule "webroot/css/admin/web-app-theme"]
	path = webroot/css/admin/web-app-theme
	url = git://github.com/pilu/web-app-theme.git
[submodule "webroot/admin-media/codemirror"]
	path = webroot/admin-media/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "plugins/commentable"]
	path = plugins/commentable
	url = git://github.com/vad/cakephp-commentable-behavior.git
[submodule "webroot/js/strophejs"]
	path = webroot/js/strophejs
	url = git://github.com/metajack/strophejs
