
.search {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -6px !important;
}
.chat {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -42px !important;
}
.feedback {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -78px !important;
}
.calculator {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -114px !important;
}
.note {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -150px !important;
}
.board {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -186px !important;
}
.feed {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -222px !important;
}
.chatwindowicon {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -258px !important;
}
.picture {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -294px !important;
}
.upload-picture {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -330px !important;
}
.url-link {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -366px !important;
}
.date {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -402px !important;
}
.user {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -438px !important;
}
.nav {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -474px !important;
}
.settings {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -510px !important;
}
.user_info {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -546px !important;
}
.weather {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -582px !important;
}
.groups {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -618px !important;
}
.nevede {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -654px !important;
}
.timeline {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -690px !important;
}
.map {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -726px !important;
}
.webcam {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -762px !important;
}
.google {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -798px !important;
}
.rememberthemilk {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -834px !important;
}
.evernote {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -870px !important;
}
.drill {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -906px !important;
}
.disk {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -942px !important;
}
.secretariats {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -978px !important;
}
.childrenevents {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1014px !important;
}