
.search {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -6px !important;
}
.chat {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -42px !important;
}
.email {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -78px !important;
}
.calculator {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -114px !important;
}
.note {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -150px !important;
}
.board {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -186px !important;
}
.feed {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -222px !important;
}
.comment-icon {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -258px !important;
}
.comment-add {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -294px !important;
}
.picture {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -330px !important;
}
.upload-picture {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -366px !important;
}
.url-link {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -402px !important;
}
.date {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -438px !important;
}
.nav {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -474px !important;
}
.settings {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -510px !important;
}
.user_info {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -546px !important;
}
.weather {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -582px !important;
}
.groups {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -618px !important;
}
.nevede {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -654px !important;
}
.timeline {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -690px !important;
}
.map {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -726px !important;
}
.webcam {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -762px !important;
}
.google {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -798px !important;
}
.rememberthemilk {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -834px !important;
}
.evernote {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -870px !important;
}
.drill {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -906px !important;
}
.disk {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -942px !important;
}
.secretariats {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -978px !important;
}
.childrenevents {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1014px !important;
}
.purchasing {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1050px !important;
}
.user-edit {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1086px !important;
}
.image-edit {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1122px !important;
}
.map-edit {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1158px !important;
}
.user-icon {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1194px !important;
}
.double-prev {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1230px !important;
}
.prev {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1266px !important;
}
.next {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1302px !important;
}
.double-next {
    background:url(../../img/widget_sprite.png?v=VERSION) no-repeat scroll -10px -1338px !important;
}